<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Web Template{% endblock title %}</title>
    <link rel="stylesheet" href="/login/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/login/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/login/css/bootstrap-utilities.min.css">
    <link rel="stylesheet" href="/login/css/bootstrap.min.css">
    <link rel="stylesheet" href="/login/css/main.css">
    <script src="/login/js/bootstrap.bundle.min.js"></script>
    {% block imports %}

    {% endblock imports %}
</head>
<body class="bg-dark text-light d-flex flex-column">
    <!-- Top Navbar -->
    <header class="bg-primary p-3">
        <!-- Is removed on screens smaller than medium -->
         <div class="d-none d-md-block">
            <div class="d-flex flex-row">
                <div class="d-flex justify-content-center align-items-center">
                    <h1>LOGO</h1>
                </div>
        
                <div class="flex-grow-1 text-center">
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        <div class="d-flex flex-row justify-content-center align-items-center">
                            <p class="fw-bold p-2">Radio Status:</p>
                            <p class="bg-danger p-2 rounded" id="radio-status"></p>
                        </div>
                        <div class="d-flex flex-row justify-content-center align-items-center">
                            <p class="fw-bold p-2">IP Addr:</p>
                            <p id="radio-ip-address">10.0.0.1</p>
                        </div>
                        <div class="d-flex flex-row justify-content-center align-items-center">
                            <p class="fw-bold p-2">Netmask:</p>
                            <p id="radio-netmask">255.255.255.0</p>
                        </div>
                    </div>
                </div>
            </div>
         </div>

        <!-- Is hidden until screen is smaller than medium -->
        <div class="d-md-none">
            <button type="button" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#sideMenu" aria-controls="sideMenu">
                <img class="bg-primary border-none" src="/login/images/menu-2.png" style="max-width: 25px; max-height: 25px;">
            </button>
        </div>

         <!-- Is hidden until screen is smaller than medium -->
         <div class="d-md-none">
            <div class="offcanvas offcanvas-start bg-dark text-light" tabindex="-1" id="sideMenu" aria-labelledby="sideMenuLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="sideMenuLabel">LOGO</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-column">
                            <div class="pt-2"></div>
                            <a class="btn btn-primary" href="/">Dashboard</a>
                            <div class="pb-3"></div>
                            <a class="btn btn-primary" href="/networking">Networking</a>
                            <div class="pb-3"></div>
                            <a class="btn btn-primary" href="/mesh">Mesh</a>
                            <div class="pb-3"></div>
                            <a class="btn btn-primary" href="/firmware">Firmware</a>
                            <div class="pb-3"></div>
                            <a class="btn btn-primary" href="/settings">Settings</a>
                            <div class="pb-3"></div>
                        </div>
            
                        <div class="text-center">
                            <p id="radio-software-version" style="padding-top: 5px;">Version: 0.0.1</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="d-flex w-100 flex-grow-1">
        <nav class="p-2 border-end border-light d-none d-md-block d-flex flex-column">
            <!-- Is removed on screens smaller than medium -->
            <div class="d-none d-md-block">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-column">
                        <div class="pt-2"></div>
                        <a class="btn btn-primary" href="/">Dashboard</a>
                        <div class="pb-3"></div>
                        <a class="btn btn-primary" href="/networking">Networking</a>
                        <div class="pb-3"></div>
                        <a class="btn btn-primary" href="/mesh">Mesh</a>
                        <div class="pb-3"></div>
                        <a class="btn btn-primary" href="/firmware">Firmware</a>
                        <div class="pb-3"></div>
                        <a class="btn btn-primary" href="/settings">Settings</a>
                        <div class="pb-3"></div>
                    </div>
        
                    <div class="text-center">
                        <p id="radio-software-version" style="padding-top: 5px;">Version: 0.0.1</p>
                    </div>
                </div>
            </div>
        </nav>
    
        <main class="p-2 d-flex justify-content-center align-items-center flex-grow-1 flex-shrink-1">
          {% block content %}
            <h1>Template Data</h1>
          {% endblock content %}
        </main>
    </div>
</body>
</html>