<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Web Template{% endblock title %}</title>
    <link rel="stylesheet" href="/login/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/login/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/login/css/bootstrap-utilities.min.css">
    <link rel="stylesheet" href="/login/css/bootstrap.min.css">
    <link rel="stylesheet" href="/login/css/main.css">
    <script src="/login/js/bootstrap.bundle.min.js"></script>
    {% block imports %}

    {% endblock imports %}
</head>
<body class="bg-dark text-light">
    <!-- Top Navbar -->
    <header class="d-flex bg-danger">
        <h1>Header</h1>
    </header>

    <div class="d-flex w-100" style="height: 100vh;">
        <nav class="p-2">
            <div class="d-flex flex-column">
                <button class="btn btn-primary m-2" type="button">Dashboard</button>
                <button class="btn btn-primary m-2" type="button">Networking</button>
                <button class="btn btn-primary m-2" type="button">Mesh</button>
                <button class="btn btn-primary m-2" type="button">Settings</button>
            </div>
        </nav>
    
        <main class="p-2 d-flex justify-content-center align-items-center flex-grow-1">
          {% block content %}
            <h1>Template Data</h1>
          {% endblock content %}
        </main>
    </div>
</body>
</html>